<%= stylesheet_link_tag 'users/posts', media: 'all' %>

<div class="row">
  <div class="col-sm-8 col-md-8 col-lg-5 offset-sm-2 offset-md-2 offset-lg-1 py-5">
    <div class="mb-10", id="image_box"><%= image_tag @post.check_image, class: "img-fluid rounded align-self-center shadow-lg", id: "image" %></div>
    <div id="map", class="shadow-lg"></div>
  </div>


  <div class="col-sm-10 col-md-8 col-lg-5 offset-sm-1 offset-md-2 offset-lg-0 py-2">
    <div class="row my-5">
      <div class="col-12">
        <table class="table">

          <tr>
            <td style="width: 30%">名前</td>
            <td style="width: 70%"><%= link_to @user.name, user_path(@user) %></td>
          </tr>

          <tr>
            <td style="width: 30%">スポット名</td>
            <td style="width: 70%"><%= @post.place %></td>
          </tr>

          <tr>
            <td style="width: 30%">住所</td>
            <td style="width: 70%"><%= @post.address %></td>
          </tr>

          <tr>
            <td style="width: 30%">説明</td>
            <td style="width: 70%"><p class="text-break"><%= @post.caption %></td>
          </tr>

          <tr>
            <td style="width: 30%">投稿日時</td>
            <td style="width: 70%"><%= @post.created_at.to_s(:datetime_jp) %></td>  <!--/Portfolio/NatureSpotter/config/initializers/time_formats.rbの表記に合わせる記述法-->
          </tr>

          <% if @user == current_user %>
            <tr>
              <td style="width: 40%"><%= link_to "投稿編集", edit_post_path(@post), class: "btn btn-success" %></td>
              <td style="width: 60%"><%= link_to "投稿削除", post_path(@post), method: :delete,class: "btn btn-danger", data: { confirm: "本当に投稿を削除しますか？" } %></td>
            </tr>
          <% end %>
        </table>

        <!--タグリスト-->
        <div class="mb-3">
          <% @tag_list.each do |list| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to list.tag, search_tag_path(tag_id: list.id) %>
          <% end %>
        </div>

        <!--いいねボタン-->
        <div id="like_btn_<%= @post.id %>">
          <%= render "users/partial_templates/like", post: @post %>
        </div>


        <!--コメント表示機能-->
        <div class="comment_index mt-2 mb-1", id="comment_index">
          <%= render 'users/partial_templates/comment_index', post: @post %>
        </div>

        <!--コメント投稿機能-->
        <% if user_signed_in? %>
          <div id="comment_form">
            <%= render 'users/partial_templates/comment_form', {post: @post, comment: @comment} %>
          </div>

        <% end %>

        <!--通報機能-->
        <%# if @user.id != current_user.id %>
          <!--<div class="row">-->
          <!--  <div class="col-sm-3 col-md-3 col-lg-4 offset-sm-9 offset-md-9 offset-lg-8 my-5 py-4">-->
              <%# if @post.reported_by?(current_user) %>
                <%#= link_to '通報する', post_reports_path(@post), method: :post, class: "btn btn-delete btn-sm", data: { confirm: "不適切な表現の投稿として通報しますか？" } %>
              <%# end %>
          <!--  </div>-->
          <!--</div>-->
        <%# end %>
      </div>
    </div>
  </div>
</div>


<%= @post.post_latitude.inspect %> <%= @post.post_longitude.inspect %>
<!--マップ表示JS-->
<script>

  let map

  function initMap(){

    let geocoder = new google.maps.Geocoder()

    let map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: <%= @post.post_latitude.present? ? @post.post_latitude : 35.6867908 %>, lng: <%= @post.post_longitude.present? ? @post.post_longitude : 139.6735760273143 %>},
      zoom: 15
    });

    let marker = new google.maps.Marker({
      // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
      position: {
        lat: <%= @post.post_latitude.present? ? @post.post_latitude : 0 %>,
        lng: <%= @post.post_longitude.present? ? @post.post_longitude : 0 %>
      },
      map: map,

      // アイコンを用意した画像に変更
      icon: {
        url: "<%= asset_path('map_pin.png') %>",
        size: new google.maps.Size(40, 40), // 画像の初期サイズを指定
        scaledSize: new google.maps.Size(40, 40), // 画像の表示サイズを指定
        // pixelOffset: new google.maps.Size(0, -50), オフセット
      },
    });

    // 情報ウィンドウ設定
    const latlng = new google.maps.LatLng(<%= @post.post_latitude %>, <%= @post.post_longitude %>);
    const info = '<div class="info">' + '<p style="margin:0;"><a href="https://maps.google.co.jp/maps?q=' + latlng + '&iwloc=J" target="_blank" rel="noopener noreferrer">Googleマップで見る</a></p>' + '</div>';
    var infowindow = new google.maps.InfoWindow({
      content: info
    });

    // 情報ウィンドウ表示
    infowindow.open(map, marker);

    marker.addListener('click', function() {
      window.location.href = "/" + <%= @post.post_latitude.present? ? @post.post_latitude : 0 %> + "/" + <%= @post.post_longitude.present? ? @post.post_longitude : 0 %> + "/posts";
    });

    // スタイルの設定
    const myMapType = new google.maps.StyledMapType([
      {
        featureType: "landscape",
        elementType: "geometry",
        stylers: [
          {visibility: "on"},
        ],
      },

      {
        featureType: "landscape",
        elementType: "labels",
        stylers: [
          {visibility: "simplified"},
        ],
      },

      {
        featureType: 'poi',
        elementType: "labels",
        stylers: [
          {visibility: "on"},
        ],
      },

      {
        featureType: "poi.attraction",
        elementType: "labels",
        stylers: [
          {visibility: "on"},
        ],
      },

      {
        featureType: "poi.business",
        elementType: "labels",
        stylers: [
          {visibility: "on"},
        ],
      },

      {
        featureType: "poi.medical",
        elementType: "labels",
        stylers: [
          {visibility: "off"},
        ],
      },

      {
        featureType: "poi.school",
        elementType: "labels",
        stylers: [
          {visibility: "off"},
        ],
      },

      {
        featureType: "poi.sports_complex",
        elementType: "labels",
        stylers: [
          {visibility: "off"},
        ],
      },

      {
        featureType: "road",
        elementType: "geometry",
        stylers: [
          {lightness: 57},
        ],
      },

      {
        featureType: "road",
        elementType: "labels.text.fill",
        stylers: [
          {visibility: "on"},
          {lightness: 24},
        ],
      },

      {
        featureType: "road",
        elementType: "labels.icon",
        stylers: [
          {visibility: "off"},
        ],
      },

      {
        featureType: "transit",
        elementType: "labels",
        stylers: [
          {visibility: "on"},
        ],
      },

      {
        featureType: "water",
        elementType: "labels",
        stylers: [
          {visibility: "on"},
        ],
      },

    ],
      {
        name: 'ラベルなし',
    });

    var myMapTypeId = 'my_style';

    // 地図にスタイルを追加
    map.mapTypes.set(myMapTypeId, myMapType);
    map.setMapTypeId(myMapTypeId);
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMAP_API'] %>&callback=initMap" async defer></script>