<div class="row my-3 ">
  
  <div class="col-lg-4 offset-lg-1">
    <h2>User一覧</h2>
  </div>
  
  <!--<div class="col-lg-3 offset-lg-4">-->
  <!--  <%#= form_with(url: search_users_path,method: :get, local: true, class: "search-form") do |form| %>-->
  <!--    <%#= form.text_field :keyword, placeholder: "userが飼っている犬種を入力", class: "search-input form-control" %>-->
  <!--    <%#= form.select :dog_size, Dog.dog_sizes.map {|k, v| [k, v]}, {include_blank: 'sizeすべて'} %>-->
  <!--    <%#= form.submit "検索", class: "btn search-btn btn-secondary btn-sm" %>-->
  <!--  <%# end %>-->
  <!--</div>-->
  
</div>

<div class="row">
  <div class="col-10 offset-1">
    
      <table class="table table-hover">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td style="width: 20%">
                <%= link_to user_path(user) do %>
                  <%= image_tag user.get_profile_image(100, 100), class: "rounded-circle" %>
                <% end %>
              </td>
          
              <td style="width: 30%">
                <%= user.name %>
              </td>
          
              <td style="width: 30%">
                投稿数 <%= user.posts.count %>
              </td>
          
              <td>
                <% if user == current_user %> <!--表示してるユーザーが自分のとき-->
                  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
                    <i class="fas fa-user-edit"></i>
                  <% end %>
        
                <% elsif current_user.following?(user) %> <!--表示してるユーザーが自分以外で、そのユーザーをフォローしている状態のとき-->
                  <%= link_to user_relationships_path(user.id), method: :delete, class: "btn btn-outline-info btn-block" do %>
                    <i class="fa-solid fa-user-minus"></i>
                  <% end %>
        
                <% else %>  <!--表示してるユーザーが自分以外で、そのユーザーをフォローしてない状態のとき(上記二択以外のとき)-->
                  <%= link_to user_relationships_path(user.id), method: :post, class: "btn btn-outline-success btn-block" do %>
                    <i class="fa-solid fa-user-plus"></i>
                  <% end %>
                  
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  
</div>

<div class="row">
  <div class="col-2 col-md-4 col-lg-5"></div>
  <div class="col-8 col-md-4 my-3"><%= paginate @users %></div>
</div>