<div class="d-flex flex-column flex-lg-row">
  <div class="mx-2 pt-1">
    <h3 class="ch"><%= @word %>の検索結果</h3>
  </div>
</div>


  <% if @range == "User" %> <!--検索対象モデルがUserの時 -->

    <% if @users.exists? %> <!--@usersにデータが存在するか確認し存在したらtrue-->
      <%= render "admins/partial_templates/users_index", users: @users %>

    <!--<div class="row">-->
    <!--  <div class="col-2 col-md-4 col-lg-5"></div>-->
    <!--  <div class="col-8 col-md-4 my-3"><%#= paginate @users %></div>-->
    <!--</div>-->
    <%# end %>

    <% else %> <!--@usersにデータが存在しなかった場合-->
    <div class="offset-lg-1">
      検索ワード "<%= @word %>" に該当するユーザーは見つかりません。
    </div>

    <% end %>

  <% else %> <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
    <% if @posts.exists? %>
      <hr>
      <%= render "admins/partial_templates/posts_index", posts: @posts %>

      <!--<div class="row my-3">-->
      <!--  <div class="col-2 col-md-4 col-lg-5"></div>-->
      <!--  <div class="col-8 col-md-4"><%#= paginate @posts %></div>-->
      <!--</div>-->

    <% else %>
    <div class="offset-lg-1">
      検索ワード "<%= @word %>" に該当する投稿は見つかりません。
    </div>

    <% end %>

  <% end %>
