<%= stylesheet_link_tag 'admins/signin', media: 'all' %>

<div class="box2">
  <div class="box-inner">
    <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>

    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag "header_logo.png", class:'logo mt-3 ml-3' %>
      <% end %>
    </div>
    
    <div class="text-right mr-4 pr-2">
      for admin
    </div>

    <div class="box-email mt-3">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>

    <div class="box-password my-3">
      <div class="a-row">
        <div class="column-left">
          <%= f.label :password, "Password" %>
        </div>
        <div class="column-right">
          <%#= link_to "パスワードを忘れた場合", new_user_password_path %>
        </div>
      </div>
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>

    <div class="box-login ">
      <%= f.submit "Login" %>
      <%# if devise_mapping.rememberable? %>
      <!--<div class="remember">-->
        <%#= f.check_box :remember_me %>
        <%#= f.label :remember, "ログインしたままにする" %>
      <!--</div>-->
      <%# end %>
    </div>
    <% end %>

  </div>
</div>