<% if admin_signed_in? %>
  <div class="search_form">
    <%= form_with url: admins_search_path, local: true, method: :get do |f| %>
      <div class="d-flex flex-row">
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['User'], ['Post']]) %>
        <%= f.select :method, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"]]) %>
        <%= button_tag type: "submit", class: "btn btn-dark btn-sm" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>

      </div>
    <% end %>
  </div>
  
<% elsif user_signed_in? %> 
  <div class="search_form">
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <div class="d-flex flex-row">
        <%= f.text_field :word %>
        <%= f.select :range, options_for_select([['User'], ['Post']]) %>
        <%= f.select :method, options_for_select([["部分一致","partial_match"], ["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"]]) %>
        <%= button_tag type: "submit", class: "btn btn-dark btn-sm" do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>

      </div>
    <% end %>
  </div>
<% end %>

<!--参照元viewファイル-->
  <!--views/layouts/application.html.erb-->
