<%= stylesheet_link_tag 'users/signin', media: 'all' %>

<div class="box1">
  <div class="box-inner">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="text-center">
      <%= link_to root_path do %>
        <%= image_tag "header_logo", class:'logo mt-3 ml-3' %>
      <% end %>
    </div>

    <div class="box-name my-1">
      <%= f.label :name, "Name" %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "ユーザーネーム" %>
    </div>

    <div class="box-email my-1">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス" %>
    </div>

    <div class="box-password my-1">
      <%= f.label :password, "Password" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード" %>
    </div>

    <div class="box-password my-1">
      <%= f.label :password_confirmation, "Password_confirmation" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認)" %>
    </div>

    <div class="box-login my-3">
      <%= f.submit "Signup" %>
    </div>
    <% end %>

    <div class="box-newusr mt-3">
      <p><span>------------</span> アカウントをお持ちですか？ <span>------------</span></p>
      <%= link_to "Login", new_user_session_path %>
    </div>
  </div>
</div>